@import "@apsc/resource";

.code-show {
  width: 637px;
  margin: 0;
  padding: 18px;
  font-size: 16px;
  line-height: 24px;
  font-family: "jetbrain-mono", serif;
  font-weight: bold;
  .code-item {
    position: relative;
    white-space: pre-wrap;
    word-break: keep-all;
    &.item-showLine {
      padding-left: 24px;
    }
    .line-number {
      width: 16px;
      position: absolute;
      left: 0;
      text-align: center;
    }
  }
}