@import "var";
@import "minix";

@media screen and (min-width: 1280px) {
  // layout
  .@{docs}-layout-header {
    .flex-cbw();
    padding: 16px 24px;
    height: 40px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 12px -1px rgba(0, 0, 0, 0.05), 0 2px 6px 0 rgba(0, 0, 0, 0.05);

    .layout-header-left {
      .flex-cbw();
      height: 100%;

      .@{docs}-logo {
        height: 32px;
      }

      .@{docs}-version {
        font-weight: 600;
      }
    }

    .layout-header-right {
      .flex-cbw();
      height: 100%;

      &-nav {
        .flex-cbw();

        .nav-item {
          .flex-cc();

          &-link {
            a {
              &:link {
                text-decoration: none;
              }

              &:active {
                color: blue;
              }

              &:visited {
                color: black;
              }

              &.active {
                color: @primary;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }

  .@{docs}-layout-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  // sidebar
  .comp-sidebar {
    &-menu {
      .menu-item-group {
        .item-group-title {
          padding: 12px 0;
          font-size: 18px;
          font-weight: 600;
        }

        .item-group-list {
          display: flex;
          flex-direction: column;
          gap: 8px;
          padding-left: 12px;
        }
      }
    }
  }

  // link
  .link {
    &:link {
      text-decoration: none;
    }

    &:visited {
      color: black;
    }

    &:hover {
      color: red;
    }

    &:active {
      color: @primary;
    }

    &.active {
      color: @primary;
    }

  }

  // container
  .container-page {
    max-width: 80rem;
    margin: 0 auto;
  }

  // other
  .flex {
    .flex-cbw()
  }
}

